Unit]
Description=atomicDEX-API
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
StandardOutput=append:/home/atomic/mm2/mm2_std.log
StandardError=append:/home/atomic/mm2/mm2_std.log
Environment=MM_CONF_PATH=/home/atomic/mm2/MM2.json
Environment=MM_COINS_PATH=/home/atomic/mm2/coins
User=root
Group=root
Type=simple
ExecStart=/home/atomic/mm2/mm2
WorkingDirectory=/home/atomic/mm2/
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target


