[Unit]
Description=komodo-block-explorer
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
StandardOutput=append:/home/explorer/logs/kmd_explorer.log
StandardError=append:/home/explorer/logs/kmd_explorer.log
User=explorer
Group=explorer
Type=simple
ExecStart=/home/explorer/komodo-install-explorer/KMD-explorer-start.sh
WorkingDirectory=/home/explorer/komodo-install-explorer
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target


